Repository incrediblybadcoder/fortylove: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-build-and-test.yml, azure-pipelines-generate-UML-images.yml

Path conditions:
  azure-pipeline-build-and-test.yml: any file but: documents
  azure-pipelines-generate-UML-images.yml: any of: documents/design

#64 Struktur SetupDataLoad für Dev Daten - put same variables in top application.properties
  src/main/resources/application-develop.properties
  src/main/resources/application-h2.properties
  src/main/resources/application-production.properties
  src/main/resources/application.properties
Due: azure-pipeline-build-and-test.yml

#54 Risikoanalysien im Team erstellt
  documents/riskmanagment/ProjectRiskAnalyse.puml
  documents/riskmanagment/TechnicalRiskAnalyse.puml
Due: none

include documents/*
  azure-pipelines-generate-UML-images.yml
Due: azure-pipeline-build-and-test.yml

Deleted Actors.png
  documents/design/usecases/Actors.png
Due: azure-pipelines-generate-UML-images.yml

Updated azure-pipelines-generate-UML-images.yml
  azure-pipelines-generate-UML-images.yml
Due: azure-pipeline-build-and-test.yml

#53 ä ö ü replaced
  documents/design/usecases/UseCasesGuest.puml
  documents/riskmanagment/ProjectRiskAnalyse.puml
  documents/riskmanagment/TechnicalRiskAnalyse.puml
Due: azure-pipelines-generate-UML-images.yml

git pull added before git push
  azure-pipelines-generate-UML-images.yml
Due: azure-pipeline-build-and-test.yml

#60 automatische Tetss - put tempalte runconfigs into template folder - reordered env variables in runconfigs to unify
  documents/resources/intellij/runconfigs/fortylove-develop.run.xml
  documents/resources/intellij/runconfigs/fortylove-h2.run.xml
  documents/resources/intellij/runconfigs/fortylove-local.run.xml
  documents/resources/intellij/runconfigs/fortylove-production.run.xml
Due: none

#60 automatische Tetss - adjusted documentation of env variable profiles
  documents/resources/AZUREDEVOPS.md
Due: none

#60 automatische Tetss - fixed typo
  documents/resources/AZUREDEVOPS.md
Due: none

Update azure-pipelines-generate-UML-images.yml for Azure Pipelines
  azure-pipelines-generate-UML-images.yml
Due: azure-pipeline-build-and-test.yml

#53 typo fix
  documents/riskmanagment/ProjectRiskAnalyse.puml
Due: none

#60 automatische Tetss - added h2 console support through security - set h2 console path to /h2
  src/main/java/ch/fortylove/spring/SecurityConfig.java
  src/main/resources/application-h2.properties
Due: azure-pipeline-build-and-test.yml

#67 Übersicht Platzbelegung - added booking and court entities - added court SetupDataLoader - deleted TennisClub entity and repository/service
  src/main/java/ch/fortylove/persistence/entity/Booking.java
  src/main/java/ch/fortylove/persistence/entity/Court.java
  src/main/java/ch/fortylove/persistence/entity/Privilege.java
  src/main/java/ch/fortylove/persistence/entity/Role.java
  src/main/java/ch/fortylove/persistence/entity/TennisClub.java
  src/main/java/ch/fortylove/persistence/repository/BookingRepository.java
  src/main/java/ch/fortylove/persistence/repository/CourtRepository.java
  src/main/java/ch/fortylove/persistence/service/TennisClubService.java
  src/main/java/ch/fortylove/spring/setupdata/CourtSetupData.java
  src/main/java/ch/fortylove/spring/setupdata/PrivilegeSetupData.java
  src/main/java/ch/fortylove/spring/setupdata/RoleSetupData.java
  src/main/java/ch/fortylove/spring/setupdata/SetupDataLoader.java
  src/main/java/ch/fortylove/views/MainView.java
  src/test/java/ch/fortylove/service/TestTennisClubService.java
Due: azure-pipeline-build-and-test.yml

#67 Übersicht Platzbelegung - added booking and court entities - added court SetupDataLoader - deleted TennisClub entity and repository/service
  src/main/java/ch/fortylove/persistence/entity/AbstractEntity.java
  src/main/java/ch/fortylove/persistence/entity/Booking.java
  src/main/java/ch/fortylove/persistence/entity/Court.java
  src/main/java/ch/fortylove/persistence/entity/User.java
  src/main/java/ch/fortylove/persistence/repository/BookingRepository.java
  src/main/java/ch/fortylove/persistence/repository/CourtRepository.java
  src/main/java/ch/fortylove/spring/setupdata/BookingSetupData.java
  src/main/java/ch/fortylove/spring/setupdata/SetupDataLoader.java
Due: azure-pipeline-build-and-test.yml

#67 Übersicht Platzbelegung - added lazy loading annotation
  src/main/java/ch/fortylove/persistence/entity/Booking.java
  src/main/java/ch/fortylove/persistence/entity/Role.java
  src/main/java/ch/fortylove/persistence/entity/User.java
  src/main/java/ch/fortylove/persistence/repository/PrivilegeRepository.java
  src/main/java/ch/fortylove/persistence/repository/RoleRepository.java
  src/main/java/ch/fortylove/persistence/repository/UserRepository.java
  src/main/java/ch/fortylove/spring/setupdata/BookingSetupData.java
  src/main/java/ch/fortylove/spring/setupdata/RoleSetupData.java
  src/main/java/ch/fortylove/spring/setupdata/UserSetupData.java
Due: azure-pipeline-build-and-test.yml

#67 Übersicht Platzbelegung - reversed owner of bookings_user bidirectional relationship
  src/main/java/ch/fortylove/persistence/entity/Booking.java
  src/main/java/ch/fortylove/persistence/entity/User.java
  src/main/java/ch/fortylove/spring/setupdata/BookingSetupData.java
Due: azure-pipeline-build-and-test.yml

#67 Übersicht Platzbelegung - improved repository functions
  src/main/java/ch/fortylove/persistence/repository/CourtRepository.java
  src/main/java/ch/fortylove/persistence/repository/UserRepository.java
  src/main/java/ch/fortylove/persistence/service/CourtService.java
  src/main/java/ch/fortylove/spring/setupdata/BookingSetupData.java
  src/main/java/ch/fortylove/spring/setupdata/CourtSetupData.java
Due: azure-pipeline-build-and-test.yml

#60 automatische Tests - created PrivilegeService and tests for PrivilegeService
  src/main/java/ch/fortylove/persistence/entity/Privilege.java
  src/main/java/ch/fortylove/persistence/repository/BookingRepository.java
  src/main/java/ch/fortylove/persistence/repository/CourtRepository.java
  src/main/java/ch/fortylove/persistence/repository/PrivilegeRepository.java
  src/main/java/ch/fortylove/persistence/repository/RoleRepository.java
  src/main/java/ch/fortylove/persistence/repository/UserRepository.java
  src/main/java/ch/fortylove/persistence/service/PrivilegeService.java
  src/main/java/ch/fortylove/persistence/service/PrivilegeServiceImpl.java
  src/main/java/ch/fortylove/spring/setupdata/PrivilegeSetupData.java
  src/main/java/ch/fortylove/spring/setupdata/RoleSetupData.java
  src/main/java/ch/fortylove/spring/setupdata/SetupDataLoader.java
  src/test/java/ch/fortylove/FortyloveApplicationTests.java
  src/test/java/ch/fortylove/SpringTest.java
  src/test/java/ch/fortylove/persistence/service/TestPrivilegeServiceImpl.java
Due: azure-pipeline-build-and-test.yml

#60 automatische Tests - created RoleService and tests for RoleService - added equals and hashcode methods to all entities
  src/main/java/ch/fortylove/persistence/entity/Booking.java
  src/main/java/ch/fortylove/persistence/entity/Court.java
  src/main/java/ch/fortylove/persistence/entity/Privilege.java
  src/main/java/ch/fortylove/persistence/entity/Role.java
  src/main/java/ch/fortylove/persistence/entity/User.java
  src/main/java/ch/fortylove/persistence/service/PrivilegeServiceImpl.java
  src/main/java/ch/fortylove/persistence/service/RoleService.java
  src/main/java/ch/fortylove/persistence/service/RoleServiceImpl.java
  src/main/java/ch/fortylove/spring/setupdata/BookingSetupData.java
  src/main/java/ch/fortylove/spring/setupdata/CourtSetupData.java
  src/main/java/ch/fortylove/spring/setupdata/PrivilegeSetupData.java
  src/main/java/ch/fortylove/spring/setupdata/RoleSetupData.java
  src/main/java/ch/fortylove/spring/setupdata/UserSetupData.java
  src/test/java/ch/fortylove/persistence/service/TestPrivilegeServiceImpl.java
  src/test/java/ch/fortylove/persistence/service/TestRoleServiceImpl.java
Due: azure-pipeline-build-and-test.yml

#60 automatische Tests - adjusted UserService and tests for UserService
  src/main/java/ch/fortylove/persistence/entity/Court.java
  src/main/java/ch/fortylove/persistence/entity/Privilege.java
  src/main/java/ch/fortylove/persistence/entity/Role.java
  src/main/java/ch/fortylove/persistence/entity/User.java
  src/main/java/ch/fortylove/persistence/service/UserService.java
  src/main/java/ch/fortylove/persistence/service/UserServiceImpl.java
  src/main/java/ch/fortylove/spring/setupdata/UserSetupData.java
  src/main/java/ch/fortylove/views/MainView.java
  src/test/java/ch/fortylove/persistence/service/TestPrivilegeServiceImpl.java
  src/test/java/ch/fortylove/persistence/service/TestRoleServiceImpl.java
  src/test/java/ch/fortylove/persistence/service/TestUserServiceImpl.java
Due: azure-pipeline-build-and-test.yml

#60 automatische Tests - created SecurityService interface - replaced userRepository in SecurityService with userService
  src/main/java/ch/fortylove/security/SecurityService.java
  src/main/java/ch/fortylove/security/SecurityServiceImpl.java
  src/main/java/ch/fortylove/security/UserDetailsServiceImpl.java
  src/main/java/ch/fortylove/views/MainLayout.java
Due: azure-pipeline-build-and-test.yml

#60 automatische Tests - renamed constructor variable to securityService
  src/main/java/ch/fortylove/views/MainLayout.java
Due: azure-pipeline-build-and-test.yml

#60 automatische Tests - created BookingService and tests
  src/main/java/ch/fortylove/persistence/entity/Booking.java
  src/main/java/ch/fortylove/persistence/repository/BookingRepository.java
  src/main/java/ch/fortylove/persistence/service/BookingService.java
  src/main/java/ch/fortylove/persistence/service/BookingServiceImpl.java
  src/main/java/ch/fortylove/persistence/service/CourtService.java
  src/main/java/ch/fortylove/persistence/service/CourtServiceImpl.java
  src/main/java/ch/fortylove/spring/setupdata/BookingSetupData.java
  src/main/java/ch/fortylove/spring/setupdata/CourtSetupData.java
  src/test/java/ch/fortylove/persistence/service/TestBookingServiceImpl.java
  src/test/java/ch/fortylove/persistence/service/TestCourtServiceImpl.java
  src/test/java/ch/fortylove/persistence/service/TestPrivilegeServiceImpl.java
  src/test/java/ch/fortylove/persistence/service/TestRoleServiceImpl.java
  src/test/java/ch/fortylove/persistence/service/TestUserServiceImpl.java
Due: azure-pipeline-build-and-test.yml

#67 - Übersicht Platzbelegung - added findAll method to CourtService - added grid view showing courts to MainView
  src/main/java/ch/fortylove/persistence/service/CourtService.java
  src/main/java/ch/fortylove/persistence/service/CourtServiceImpl.java
  src/main/java/ch/fortylove/views/MainView.java
  src/test/java/ch/fortylove/persistence/service/TestCourtServiceImpl.java
Due: azure-pipeline-build-and-test.yml

#67 - Übersicht Platzbelegung - changed db handling to update
  src/main/resources/application-develop.properties
Due: azure-pipeline-build-and-test.yml

#67 - Übersicht Platzbelegung - replaced dialect
  src/main/resources/application-develop.properties
  src/main/resources/application-local.properties
  src/main/resources/application-production.properties
Due: azure-pipeline-build-and-test.yml

#69 MainView Versions-Spalte anzeigen - version-collumn added to maingrid [skip ci]
  src/main/java/ch/fortylove/views/MainView.java
Due: azure-pipeline-build-and-test.yml

#71 UC3 Member verwalten notes created - usescase structure updated
  documents/design/usecases/UseCasesAdmin.puml
  documents/design/usecases/UseCasesMember.puml
  documents/design/usecases/admin/UC3_Member_verwalten.puml
  documents/design/usecases/member/UC1_Tennisplatz_reservieren.puml
  documents/design/usecases/member/UC2_Platzbelegung_anzeigen.puml
Due: azure-pipelines-generate-UML-images.yml

#84 User management view implemented -> displays users only
  src/main/java/ch/fortylove/persistence/entity/User.java
  src/main/java/ch/fortylove/persistence/service/UserService.java
  src/main/java/ch/fortylove/persistence/service/UserServiceImpl.java
  src/main/java/ch/fortylove/views/MainLayout.java
  src/main/java/ch/fortylove/views/MemberManagementView.java
Due: azure-pipeline-build-and-test.yml

#84 Filter feature added
  src/main/java/ch/fortylove/persistence/repository/UserRepository.java
  src/main/java/ch/fortylove/persistence/service/UserService.java
  src/main/java/ch/fortylove/persistence/service/UserServiceImpl.java
  src/main/java/ch/fortylove/views/MemberManagementView.java
Due: azure-pipeline-build-and-test.yml

#84 adding of new unversioned files which are recommended to add according to the ReadMe
  src/main/dev-bundle/webapp/VAADIN/build/component-picker-83b69baa.js
  src/main/dev-bundle/webapp/VAADIN/build/generated-flow-imports-6df0e63b.js
  src/main/dev-bundle/webapp/VAADIN/build/indexhtml-390d868d.js
  src/main/dev-bundle/webapp/sw.js
  src/main/dev-bundle/webapp/sw.js.br
Due: azure-pipeline-build-and-test.yml

#84 Deleting of users works -> Annotation @Transactional and cascade = CascadeType.ALL for @ManyToMany relationship
  src/main/java/ch/fortylove/persistence/entity/User.java
  src/main/java/ch/fortylove/persistence/repository/BookingRepository.java
  src/main/java/ch/fortylove/persistence/service/BookingService.java
  src/main/java/ch/fortylove/persistence/service/BookingServiceImpl.java
  src/main/java/ch/fortylove/persistence/service/UserManagmentService.java
  src/main/java/ch/fortylove/persistence/service/UserManagmentServiceImpl.java
  src/main/java/ch/fortylove/persistence/service/UserService.java
  src/main/java/ch/fortylove/persistence/service/UserServiceImpl.java
  src/main/java/ch/fortylove/views/MemberManagementView.java
Due: azure-pipeline-build-and-test.yml

#84 Code clean up #84 UserManagmentService.java removed because it is not needed to delete a entity in a ManyToMany relationship since JPA handels that use case
  src/main/java/ch/fortylove/persistence/repository/BookingRepository.java
  src/main/java/ch/fortylove/persistence/service/BookingService.java
  src/main/java/ch/fortylove/persistence/service/BookingServiceImpl.java
  src/main/java/ch/fortylove/persistence/service/UserManagmentService.java
  src/main/java/ch/fortylove/persistence/service/UserManagmentServiceImpl.java
  src/main/java/ch/fortylove/persistence/service/UserService.java
  src/main/java/ch/fortylove/persistence/service/UserServiceImpl.java
  src/main/java/ch/fortylove/views/MemberManagementView.java
Due: azure-pipeline-build-and-test.yml

Typo fix
  src/main/java/ch/fortylove/views/MainLayout.java
Due: azure-pipeline-build-and-test.yml

#84 Activity Diagram created for UC3 -> how will a new member be created?
  documents/design/usecases/admin/activity/UC3_Neuen_Member_erstellen.puml
Due: azure-pipelines-generate-UML-images.yml

#84 Standart passwort set
  documents/design/usecases/admin/activity/UC3_Neuen_Member_erstellen.puml
  src/main/java/ch/fortylove/views/MemberManagementView.java
Due: azure-pipeline-build-and-test.yml, azure-pipelines-generate-UML-images.yml

#67 uebersicht platzbelegung - changed collections to list interfaces in persistence classes
  src/main/java/ch/fortylove/persistence/entity/Booking.java
  src/main/java/ch/fortylove/persistence/entity/Court.java
  src/main/java/ch/fortylove/persistence/entity/Privilege.java
  src/main/java/ch/fortylove/persistence/entity/Role.java
  src/main/java/ch/fortylove/persistence/entity/User.java
  src/main/java/ch/fortylove/persistence/service/UserService.java
  src/main/java/ch/fortylove/spring/setupdata/BookingSetupData.java
  src/main/java/ch/fortylove/spring/setupdata/RoleSetupData.java
  src/main/java/ch/fortylove/spring/setupdata/UserSetupData.java
  src/main/resources/banner.txt
Due: azure-pipeline-build-and-test.yml

#67 uebersicht platzbelegung - removed unmodifiable list as return for collections on entities [skip ci]
  src/main/java/ch/fortylove/persistence/entity/Booking.java
  src/main/java/ch/fortylove/persistence/entity/Court.java
  src/main/java/ch/fortylove/persistence/entity/Privilege.java
  src/main/java/ch/fortylove/persistence/entity/Role.java
  src/main/java/ch/fortylove/persistence/entity/User.java
Due: azure-pipeline-build-and-test.yml
